.studentBanner{
    // background: url("/images/student_page/student_banner_one.png") no-repeat right -7px center;
    // background-size: cover;
    position: relative;
    width: 100%;
    min-height: 500px;
    height: auto;
    // padding: 30px 0;
    display: flex;
    align-items: center;
}